%html
  %head
    %title Login
  %body
    %h1 Login
    %form.sky_login{action: '/login', method: :post}
      %input{type: :text, name: 'username'}
      %input{type: :text, name: 'password'}
      %input{type: :submit, name: 'login', value: 'login'}


    %form.google_login{action: '/login', method: :post}
      %input{type: :text, name: 'username'}
      %input{type: :text, name: 'password'}
      %input{type: :submit, name: 'login', value: 'login'}
